<h1>Settings</h1>
<br/>
<section>
<% if !current_user.authy_enabled? %>>
  <%= link_to "Add Two Factor?", user_enable_authy_path  %>
<% else %>
    <p>2FA has been enabled for this account.</p>
<% end %>
</section>